<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Enter Data</title>
    <meta charset="utf-8" />


    <link type="text/css" rel="stylesheet" href="css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="css/normalize.css">
    <link type="text/css" rel="stylesheet" href="css/style1.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
    <style>

        body .wrapper  .view table tr
        {
            border-bottom: 1px solid #E8E8E8;

        }

    </style>

</head>

<body>
<div class="wrapper">
    <header th:fragment="header">

        <button>
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <p class="font">Control Panel</p>

        <a href="/login"> <img src="photo/manger.png"> </a>
    </header>

    <nav th:fragment="nav">

        <img src="photo/profile1.jpg">
        <p style="margin-left: 40px" class=" font"> <span STYLE="color: #ffffff ; margin-left:20px">Store </span>    <span class="min_color"> Owner </span></p>
        <ul>
            <li> <i class="fa fa-home white " aria-hidden="true"></i> <a href="/add-store"><span STYLE="color: #ffffff ">Add</span> <span class="min_color">Store</span> </a>    </li>
            <li > <i class="fa fa-product-hunt white " aria-hidden="true"></i>     <a href="/add-product-to-store"><span STYLE="color: #ffffff ">Add</span>  <span class="min_color"> Product </span>    </a>    </li>
            <li > <i class="fa fa-user  white " aria-hidden="true"></i>     <a href="/add-collaborator"><span STYLE="color: #ffffff ">Add</span>  <span class="min_color"> Collaborator </span>    </a>    </li>
            <li > <i class="fa fa-bar-chart  white " aria-hidden="true"></i>     <a href="/show-transaction"><span STYLE="color: #ffffff "> Show</span>  <span class="min_color"> Actions </span>    </a>    </li>

        </ul>
    </nav>

    <div class="view">


    </div>


</div>

<div th:fragment="scripts">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/main.js"></script>
</div>

</body>


</html>
